<div class="row noMar noPad hidden-xs hidden-sm">
    <div id="aboveTheFold">
        <video autoplay poster="" class="fillWidth" id="videoBg" loop>
            <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
            <source src="./vid/codingvideoLQ.mp4" type="video/mp4">
        </video>
    </div>
</div>
<div class="row noMar noPad text-center" id="videoText">
    <h1 style="font-size:74px">Norbert Szucs</h1>
    <h3><span class="greenText" style="font-size:48px">Full-stack JavaScript developer.</span></h3>
    <div class="btn-group inline" style="margin-top: 200px;">
        <button class="btn btn-md btn-success foldButton">Download CV</button>
        <button class="btn btn-md btn-success foldButton">Check out my Portfolio</button>
    </div>
</div>

<div id="aboutme" style="margin-top:-430px"></div>
<div class="row hidden-md hidden-lg">
    <div class="col-xs-12 col-md-12 text-left mobileFullWidth" style="margin-left:-20px">
        <div class="panel panel-default panel-transparent">
            <div class="panel-body" style="margin-top:20px; margin-bottom:0;">
                <h1 style="margin:0;  margin-left:-20px">Norbert Szucs</h1>
                <h3 class="titleText"><span class="greenText">Full-stack JavaScript developer.</span></h3>

                <div class="panel panel-default contactPanel noPad" style="padding:0; min-height:0">
                    <div class="panel-body" style="padding:0;">
                        <div class="row noPad noMar text-center">
                            <div class="col-xs-12 col-md-8 noPad noMar">
                                <div class="row noMar">
                                    <div class="col-xs-12 col-md-12 noMar" style="padding: 5px 0;">
                                        <i class="fa fa-envelope contactIcon" aria-hidden="true"></i><span class="email">{{ reversedEmail | reverse }}</span>
                                    </div>
                                    <div class="col-xs-12 col-md-offset-1 col-md-3 noMar noPad">
                                        <button class="btn btn-sm contactBtn">
                                            <i class="fa fa-github contactIcon" aria-hidden="true"></i> Github
                                        </button>
                                    </div>
                                    <div class="col-xs-12 col-md-3 noMar noPad">
                                        <button class="btn btn-sm contactBtn">
                                            <i class="fa fa-stack-overflow contactIcon" aria-hidden="true"></i> Stackoverflow
                                        </button>
                                    </div>
                                    <div class="col-xs-12 col-md-3 noMar noPad">
                                        <button class="btn btn-sm contactBtn">
                                            <i class="fa fa-linkedin contactIcon" aria-hidden="true"></i> LinkedIn
                                        </button>
                                    </div>
                                    <div class="col-xs-12 col-md-3 noMar noPad">
                                        <button class="btn btn-sm contactBtn">
                                            <i class="fa fa-twitter contactIcon" aria-hidden="true"></i> Twitter
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4 noMar noPad text-right hidden-xs hidden-sm">
                                <button class="btn btn-md openProjectDetails openCV">
                                    <div class="row noMar noPad">
                                        <i class="fa fa-arrow-circle-o-down  faa-vertical animated" aria-hidden="true" style="font-size:160%"></i>
                                    </div>
                                    <div class="row noMar noPad">
                                        Download Norbert's CV
                                    </div>
                                </button>
                            </div>
                            <div class="col-xs-12 col-md-4 noMar noPad text-center hidden-md hidden-lg">
                                <button class="btn btn-sm" style="margin-bottom:10px; background-color:#38C577;">
                                    <div class="row noMar noPad">
                                        Download Norbert's CV
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Header Bar -->
<div class="row header hidden-xs hidden-sm">
    <div class="col-xs-12" style="margin-top:30px; margin-left:10px">
        <div class="meta">
            <div class="menuLabel">
                About me
            </div>
        </div>
    </div>
</div>

<div class="row hidden-xs hidden-sm">
    <div class="col-xs-12 text-center" style="margin-left:-20px;">
        <div class="panel panel-default panel-transparent" style="padding: 50px 5px;">
            <div class="panel-body">
                <h4 style="margin:0;  margin-left:-0px" class="">
                    Hi, my name is Norbert Szucs and I've been using computers since I was 5 years old.
                    I started my career in Finance, but computers remained my true passion and code became my art on the way.
                    Code is my tool to build things and make my ideas become reality.
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="row hidden-xs hidden-sm">
    <div class="col-xs-12 col-md-12 text-center mobileFullWidth" style="margin-left:-20px;">
        <div class="panel panel-default panel-transparent" style="margin-top:-50px">
            <div class="panel-body">
                <div class="panel panel-default contactPanel noPad" style="padding:0; min-height:0;">
                    <div class="panel-body" style="padding:0;">
                        <div class="row noPad noMar text-center">
                            <div class="col-xs-12 col-md-8 noPad noMar">
                                <div class="row noMar">
                                    <div class="col-xs-12 col-md-12 noMar" style="padding: 5px 0;">
                                        <i class="fa fa-envelope contactIcon" aria-hidden="true"></i><span class="email">{{ reversedEmail | reverse }}</span>
                                    </div>
                                    <div class="col-xs-12 col-md-offset-1 col-md-3 noMar noPad">
                                        <button class="btn btn-sm contactBtn">
                                            <i class="fa fa-github contactIcon" aria-hidden="true"></i> Github
                                        </button>
                                    </div>
                                    <div class="col-xs-12 col-md-3 noMar noPad">
                                        <button class="btn btn-sm contactBtn">
                                            <i class="fa fa-stack-overflow contactIcon" aria-hidden="true"></i> Stackoverflow
                                        </button>
                                    </div>
                                    <div class="col-xs-12 col-md-3 noMar noPad">
                                        <button class="btn btn-sm contactBtn">
                                            <i class="fa fa-linkedin contactIcon" aria-hidden="true"></i> LinkedIn
                                        </button>
                                    </div>
                                    <div class="col-xs-12 col-md-3 noMar noPad">
                                        <button class="btn btn-sm contactBtn">
                                            <i class="fa fa-twitter contactIcon" aria-hidden="true"></i> Twitter
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4 noMar noPad text-right hidden-xs hidden-sm">
                                <button class="btn btn-md openProjectDetails openCV">
                                    <div class="row noMar noPad">
                                        <i class="fa fa-arrow-circle-o-down  faa-vertical animated" aria-hidden="true" style="font-size:160%"></i>
                                    </div>
                                    <div class="row noMar noPad">
                                        Download Norbert's CV
                                    </div>
                                </button>
                            </div>
                            <div class="col-xs-12 col-md-4 noMar noPad text-center hidden-md hidden-lg">
                                <button class="btn btn-sm" style="margin-bottom:10px; background-color:#38C577;">
                                    <div class="row noMar noPad">
                                        Download Norbert's CV
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row hidden-xs hidden-sm" style="position:relative; width: 97.5%; margin-top:0; left: -10px">
    <hr>
</div> -->


<div id="skills">
</div>
<!-- SKILLS -->
<!-- Header Bar -->
<div class="row header">
    <div class="col-xs-12" style="margin-top:30px; margin-left:10px">
        <div class="meta">
            <div class="menuLabel">
                Skills
            </div>
        </div>
    </div>
</div>

<div class="row text-center" style="position: relative; left: -20px;">

    <div class="col-xs-12">
        <div class="panel panel-default panel-transparent mobileFullWidth">
            <div class="panel-body" style>
                <div class="row">
                    <div class="col-xs-12 col-md-4 noMarPad">
                        <div class="col-xs-4">
                            <img src="img/html5logo.png" alt="" class="img-responsive logoImage">
                        </div>
                        <div class="col-xs-8 text-center">
                            <p class="techName">HTML5</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 noMarPad">
                        <div class="col-xs-4">
                            <img src="img/css3logo.png" alt="" class="img-responsive logoImage">
                        </div>
                        <div class="col-xs-8 text-center">
                            <p class="techName">CSS3</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 noMarPad">
                        <div class="col-xs-4">
                            <img src="img/jslogo.png" alt="" class="img-responsive logoImage">
                        </div>
                        <div class="col-xs-8 text-center">
                            <p class="techName">JavaScript</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-md-3">

        <div class="panel panel-default panel-transparent skillsPanel mobileFullWidth">
            <div class="panel-heading">
                <h3 class="panel-title">Front-end</h3>
            </div>
            <div class="panel-body skill-panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/jquerylogo.gif" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6 text-center">
                        <p class="techName">jQuery</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/angularlogo.png" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName">AngularJS</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/ioniclogo.png" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName">Ionic</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/reactlogo.svg" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName" style="color:Lightgrey">ReactJS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">

        <div class="panel panel-default panel-transparent skillsPanel mobileFullWidth">
            <div class="panel-heading">
                <h3 class="panel-title">Back-end</h3>
            </div>
            <div class="panel-body skill-panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/nodelogo.png" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName">Node</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/expresslogo.png" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName">Express</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/socketlogo.gif" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName">socket.io</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/mongooselogo.png" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName">Mongoose</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-3">

        <div class="panel panel-default panel-transparent skillsPanel mobileFullWidth mobileMinHeightZero">
            <div class="panel-heading">
                <h3 class="panel-title">Data</h3>
            </div>
            <div class="panel-body skill-panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/mysqllogo.png" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName">mySQL</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/sqlitelogo.png" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName">sqLite</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/mongologo.png" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName">MongoDB</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-3">

        <div class="panel panel-default panel-transparent skillsPanel mobileFullWidth">
            <div class="panel-heading">
                <h3 class="panel-title">Other</h3>
            </div>
            <div class="panel-body skill-panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/gulplogo.png" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName">Gulp</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/mochalogo.png" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName">Mocha</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/chailogo.png" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName">Chai</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/karmalogo.png" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName">Karma</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="col-xs-12">
        <div class="panel panel-default panel-transparent">
            <div class="panel-heading">
                <h3 class="panel-title">Other</h3>
            </div>
            <div class="panel-body" style>
                <div class="row">
                    <div class="col-xs-12 col-md-4 noMarPad">
                        <div class="row">
                            <div class="col-xs-4  col-xs-offset-0 text-left">
                                <img src="img/gulplogo.png" alt="" class="logoImage alignedGulp">
                            </div>
                            <div class="col-xs-8 col-md-2 text-right">
                                <p class="techName">Gulp</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 noMarPad text-left">
                        <div class="col-xs-4 text-left">
                            <img src="img/mochachailogo.png" alt="" class="img-responsive logoImage">
                        </div>
                        <div class="col-xs-8 col-md-5 text-right">
                            <p class="techName">Mocha & Chai</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-md-offset-4 noMarPad text-left">
                        <div class="col-xs-4 text-left">
                            <img src="img/karmalogo.png" alt="" class="img-responsive logoImage">
                        </div>
                        <div class="col-xs-8 col-md-3 text-right">
                            <p class="techName">Karma</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
    <!-- End Header Bar -->
    <!--  END OF SKILLS-->

    <div class="row">
        <div class="col-xs-12 mobilePositionHr" style="margin-left:-10px;">
            <hr>
        </div>
    </div>
    <div class="pullRightFrame">
        <div id="projects"></div>
        <div class="row header text-left">
            <div class="col-xs-12">
                <div class="meta">
                    <div class="menuLabel" style="margin-left:-10px">
                        Projects
                        <i class="fa fa-laptop" aria-hidden="true"></i>
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center" style="position: relative; left: -10px">
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default panel-transparent project-panel" id="firstPanel">
                    <div class="panel-heading">
                        <div class="row">
                            <h3 class="panel-title">MBF Konferecia <span class="label newProject">New<i class="fa fa-plus faa-flash animated" aria-hidden="true"></i></span></h3>
                        </div>
                    </div>
                    <div class="panel-body skill-panel-body">
                        <div class="row">
                            <div class="col-xs-6 text-center">
                                <img src="./img/projectimgs/mbfkonferencia.jpeg" alt="" class="img-responsive projectImg img-rounded">
                            </div>
                            <div class="col-xs-6 text-center">
                                <img src="./img/projectimgs/mbfkonferencia2.jpeg" alt="" class="img-responsive projectImg img-rounded">
                            </div>
                        </div>
                        <div class="row text-center projectDesc">
                            Hybrid Mobile App built with Ionic.
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-xs-12 text-center">
                                <span class="label projectTech">Ionic</span>
                                <span class="label projectTech">AngularJS</span>
                                <span class="label projectTech">Sass</span>
                                <span class="label projectTech">PHP</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button ng-click="openProject('mbf')" class="btn btn-success openProjectDetails" style="width:100%">Open Project Details <i class="fa fa-arrow-circle-o-right faa-horizontal animated" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" style="opacity:0.7">
                <div class="panel panel-default panel-transparent project-panel" id="secondPanel">
                    <div class="panel-heading">
                        <div class="row">
                            <h3 class="panel-title">Soon...</h3>
                        </div>
                    </div>
                    <div class="panel-body skill-panel-body">
                        <div class="row">
                            <i class="fa fa-github projectSub" aria-hidden="true" style="color:white"></i>
                        </div>
                        <div class="row text-center projectDesc">
                            Soon more projects will be uploaded... In the meantime, check my github.
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-xs-12 text-center">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-sm githubBtn" ng-click="gotogithub()">Go to github</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" style="opacity:0.7">
                <div class="panel panel-default panel-transparent project-panel" id="thirdPanel">
                    <div class="panel-heading">
                        <div class="row">
                            <h3 class="panel-title">Soon...</h3>
                        </div>
                    </div>
                    <div class="panel-body skill-panel-body">
                        <div class="row">
                            <i class="fa fa-github projectSub" aria-hidden="true" style="color:white"></i>
                        </div>
                        <div class="row text-center projectDesc">
                            Soon more projects will be uploaded... In the meantime, check my github.
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-xs-12 text-center">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-sm githubBtn" ng-click="gotogithub()">Go to github</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" style="opacity:0.7">
                <div class="panel panel-default panel-transparent project-panel" id="fourthPanel">
                    <div class="panel-heading">
                        <div class="row">
                            <h3 class="panel-title">Soon...</h3>
                        </div>
                    </div>
                    <div class="panel-body skill-panel-body">
                        <div class="row">
                            <i class="fa fa-github projectSub" aria-hidden="true" style="color:white"></i>
                        </div>
                        <div class="row text-center projectDesc">
                            Soon more projects will be uploaded... In the meantime, check my github.
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-xs-12 text-center">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-sm githubBtn" ng-click="gotogithub()">Go to github</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-xs-12 col-md-8" style="opacity:0.6">
            <div class="panel panel-default panel-transparent project-panel" id="secondPanel">
                <div class="panel-heading">
                    <h3 class="panel-title">Soon...</h3>
                </div>
                <div class="panel-body skill-panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row text-center">
                                <i class="fa fa-github projectSub" aria-hidden="true"></i>
                            </div>
                            <div class="row text-center">
                                Soon more projects will be uploaded... In the meantime, check my github.
                            </div>
                            <div class="row" style="margin-top:20px">
                                <button class="btn btn-sm githubBtn" ng-click="gotogithub()">Go to github</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="panel panel-default panel-transparent project-panel" id="thirdPanel">
                <div class="panel-body skill-panel-body">
                    <div class="row" id="goToTxt" style="vertical-align:middle">
                        <a id="goToAllLink"><h1 style="color:white" id="goToH1">
                        Go to all projects
                        <i class="fa fa-laptop" aria-hidden="true"></i>
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                        <i class="fa fa-angle-double-right faa-passing animated" aria-hidden="true"></i></h1>
                    </a>
                    </div>
                </div>

            </div>
        </div> -->
        <!-- </div> -->
