<div id="anchor1"></div>

<div class="row">
    <div class="col-xs-12" style="margin-left:-30px">
        <h1>Hello, my name is Norbert Szucs</h1>
        <h3 class="titleText">I'm a <span class="green label label-success">Full-stack JavaScript developer.</span></h3>

        <h4 class="descItemText">I'm from Budapest(HU), currently <span class="greenText">located in the Bay Area.</span></h4>
        <h4 class="descItemText">I have a BA in Finance & Accounting with a <span class="greenText">background in business analytics.</span></h4>
        <h4 class="descItemText">I'm a big fan of financial technology and interested in big data.</h4>
        <h4 class="descItemText">I'm learning <span style="color:#00D8FF">React</span> currently.</h4>
        <div id="anchor2" style="position:relative; top: 2px;"></div>
        <hr>
    </div>
</div>
<!-- SKILLS -->
<!-- Header Bar -->
<div class="row header">
    <div class="col-xs-12">
        <div class="meta">
            <div class="menuLabel">
                Skills
            </div>
        </div>
    </div>
</div>

<div class="row text-center" style="position: relative; left: -20px;">

    <div class="col-xs-12">
        <div class="panel panel-default panel-transparent">
            <div class="panel-body" style>
                <div class="row">
                    <div class="col-xs-12 col-md-4 noMarPad">
                        <div class="col-xs-4">
                            <img src="img/html5logo.png" alt="" class="img-responsive logoImage">
                        </div>
                        <div class="col-xs-8 text-left">
                            <p class="techName">HTML5</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 noMarPad">
                        <div class="col-xs-4">
                            <img src="img/css3logo.png" alt="" class="img-responsive logoImage">
                        </div>
                        <div class="col-xs-8 text-left">
                            <p class="techName">CSS3</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 noMarPad">
                        <div class="col-xs-4">
                            <img src="img/jslogo.png" alt="" class="img-responsive logoImage">
                        </div>
                        <div class="col-xs-8 text-left">
                            <p class="techName">JavaScript</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-md-6">

        <div class="panel panel-default panel-transparent">
            <div class="panel-heading">
                <h3 class="panel-title">Front-end</h3>
            </div>
            <div class="panel-body skill-panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/jquerylogo.gif" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6 text-center">
                        <p class="techName">jQuery</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/angularlogo.png" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName">AngularJS</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/ioniclogo.png" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName">Ionic</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/reactlogo.svg" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName" style="color:Lightgrey">ReactJS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">

        <div class="panel panel-default panel-transparent">
            <div class="panel-heading">
                <h3 class="panel-title">Back-end</h3>
            </div>
            <div class="panel-body skill-panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/nodelogo.png" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName">Node</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/expresslogo.png" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName">Express</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/socketlogo.gif" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName">socket.io</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/mongooselogo.png" alt="" class="img-responsive logoImage">
                    </div>
                    <div class="col-xs-6">
                        <p class="techName">Mongoose</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-default panel-transparent">

            <div class="panel-heading">
                <h3 class="panel-title">Data</h3>
            </div>
            <div class="panel-body" style="color:black">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="col-xs-6 col-md-3 text-right">
                            <img src="img/mysqllogo.png" alt="" class="img-responsive logoImage lImgVer">
                        </div>
                        <div class="col-xs-6 col-md-2 text-right">
                            <p class="techName">mySQL</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="col-xs-4 col-lg-2 col-md-offset-2 col-md-4 text-left">
                            <img src="img/sqlitelogo.png" alt="" class="logoImage lImgVer">
                        </div>
                        <div class="col-xs-8 col-lg-2 col-md-2 text-right">
                            <p class="techName">sqLite</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="col-xs-6 text-right">
                            <img src="img/mongologo.png" alt="" class="img-responsive logoImage lImgVer" style="top:3px; max-height:30px">
                        </div>
                        <div class="col-xs-6 col-md-2 text-right">
                            <p class="techName">mongoDB</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="panel panel-default panel-transparent">
            <div class="panel-heading">
                <h3 class="panel-title">Other</h3>
            </div>
            <div class="panel-body" style>
                <div class="row">
                    <div class="col-xs-12 col-md-4 noMarPad">
                        <div class="row">
                            <div class="col-xs-4  col-xs-offset-0 text-left">
                                <img src="img/gulplogo.png" alt="" class="logoImage alignedGulp">
                            </div>
                            <div class="col-xs-8 text-right">
                                <p class="techName">Gulp</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 noMarPad text-left">
                        <div class="col-xs-4 text-left">
                            <img src="img/mochachailogo.png" alt="" class="img-responsive logoImage">
                        </div>
                        <div class="col-xs-8 text-right">
                            <p class="techName">Mocha & Chai</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 noMarPad text-left">
                        <div class="col-xs-4 text-left">
                            <img src="img/karmalogo.png" alt="" class="img-responsive logoImage">
                        </div>
                        <div class="col-xs-8 text-right">
                            <p class="techName">Karma</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Bar -->

<div class="row">
    <div class="col-xs-12" style="margin-left:-30px;">
        <hr>
    </div>
</div>

<!--  END OF SKILLS-->
