html, body {
    max-width: 100%;
    overflow-x: hidden !important;
}

#menuText {
  font-size: 20px;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #404352;
  padding: 0;
}

#sidebar-wrapper {
  background-color: #212121;
  /*box-shadow: 1px 2px 5px #000;*/
}

ul.sidebar .sidebar-main a {
  background-color: transparent;
}

.row.header {
  background-color: #404352;
  height: auto;
  margin-bottom: 0;
}

.col-xs-12 {
  color:white;
}

#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator, .sidebar-footer, ul.sidebar .sidebar-list a:hover {
  background-color: transparent;
}

ul.sidebar .sidebar-list a:hover {
  color: #fff;
  border-left: 5px solid #38C577;
}

.greenText {
  color: #38C577;
}

#noBorderOnHover:hover {
  border-left: none;
}

.page-content {
  color: white;
  margin-left: 40px;
}

.menuLabel {
  font-size: 280%;
  margin-left: -30px;
  color:#38C577;
  margin-top: -30px;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

.menu-icon {
  font-size: 135%;
}

.fa-user-secret:before {
  position: relative;
  left:3px;
}

.fa-envelope-square {
  position: relative;
  left: 2px;
}

#introTxt {
  color:white;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end);
}

#hLine {
  animation: blink 1s infinite;
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

.greenText {
  color:#38C577;
}

.green {
  /*border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 2px 4px;*/
  line-height: 2;
  margin-left: 5px;
}

.titleText {
  margin-bottom: 20px;
}

.descItemText {
  margin-bottom: 20px;
}

.skill-panel-body {
  color:black;
}

.panel-body {
  padding-bottom: 0;
}

.logoImage {
  max-height: 40px;
}

.techName {
  line-height: 40px;
  font-weight: bolder;
  color:white;
  border-color: #212121 !important;
  margin-bottom: 0;
}

.lImgVer {
  position: relative;
}

.panel-transparent {
  background-color: #333645;
}

.panel-default {
  /*border-color: #;*/
  border:none;
}

.panelFullTransp {
  background-color: transparent !important;
  border: none !important;
}

.panel-default>.panel-heading {
  border-color: #333645;
  background-color: #333645;
  color:white;
}

.panel-title {
  color:#38C577;
}

.noMarPad {
  margin: 0;
  padding: 0;
}

.alignedGulp {
  margin-left: 20px;
}

.projectImg {
  /*max-width: 80px;*/
}

.projectDesc {
  margin-top: 2px;
  color:white;
}

.projectTech {
  background-color:#212121;
  color:#38C577;
  margin-right: 1px;
  font-size: 1.05em;
  margin-top: 2px;
}

.openProjectDetails {
  background-color: #38C577;
  border:none;
  color:black;
  vertical-align: middle;
  line-height: 20px;
}

.openProjectDetails:hover {
  background-color:#38C577;
  -moz-box-shadow:    inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  box-shadow:         inset 0 0 3px #000000;
  color:#E6E6E6;
}

.fa-arrow-circle-o-right{
  vertical-align: middle;
  line-height: 20px;
  margin-left: 5px;
  font-size: 130%;
}

.project-panel {
}

.projectSub {
  font-size: 8.0em;
}

.secondProjectFooter {
  background-color: transparent;
  border:none;
  vertical-align: bottom;
  max-height: 100px;
}

#thirdPanel {
  vertical-align: middle;
  height: auto;
}

#goToH1:hover {
  font-size: 3em;
}

#goToAllLink:hover {
  text-decoration: none;
  cursor: pointer;
}

.fa-angle-double-right {
  margin-left: 5px;
}

.fa-mobile, .fa-laptop, .fa-angle-double-right {
  color:#38C577;
}

.newProject {
  background-color: #38C577 !important;
  margin-left: 10px;
  font-size: 0.5em;
}

.fa-plus {
  margin-left: 5px;
}

.skillsPanel {
  min-height: 280px;
}

.green {
  background-color: #38C577 !important;
}

.openCV {
  color:white;
  min-height: 60px;
  border-radius: 0 2px 2px 0;
}
.openCV:hover {
  color:black;
}

.contactPanel {
  margin-top: 5px;
  background-color: #333645;
  min-height: 50px;
  border: 1px solid #404352;
  /*-moz-box-shadow:    -2px -3px -5px -6px #000;*/
  /*-webkit-box-shadow: -2px -3px -5px -6px #000;*/
  /*box-shadow: 0px 1px 1px 0px #000;*/
}

.noMar {
  margin: 0 !important;
  margin-bottom: 0 !important;
}

.noPad {
  padding: 0 !important;
}

.contactBtn {
  background-color: #333645;
  border:none;
  color: white;
  margin: 0;
}
.contactBtn:hover {
  color: #38C577;
  border:none;
}

.contactIcon {
  font-size: 1.5em;
  margin-right: 5px;
}

.fa-envelope {
  font-size: 80%;
}

.email {
  font-size: 95%;
}

.footerBtn {
  color: #38C577 !important;
}

.footerBtn:hover {
  color: white !important;
}

.projectName {
  font-size: 28px;
  margin-top: -15px;
}

.projectFullDesc {
  color: white;
}

.projectPageImg {
  max-height: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.socialIcon {
  margin-top: 20px;
  max-height: 50px;
  margin-right: 20px;
}

.goBack {
  background-color: #333645;
  /*border: 1px solid #38C577;*/
  border:none;
  color:#38C577;
  position: relative;
  left: -4px;
}

.goBack:hover {
  background-color: #38C577;
  color:white;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
  }
  #sidebar-wrapper {
    margin-left: -170px;
  }
  .menu-icon {
    position: relative;
    left: -10px;
  }
  .sidebar-list {
    position: relative;
    left: 20px;
  }
  .sidebar-main {
    position: relative;
    left: 20px;
  }
  .sidebar-footer {
    margin-left: 20px;
  }
  .page-content {
    margin-left: 0;
  }
  .mobileFullWidth {
    width: 107%;
    margin-bottom: 0 !important;
  }
  .titleText {
    font-size: 14px;
  }
  .menuLabel {
    font-size: 22px;
  }
  .mobileMinHeightZero {
    min-height: 0;
  }
  .mobilePositionHr {
    margin-left: 0 !important;
    width: 107%;
  }
  .pullRightFrame {
    position: relative;
    right: -20px;
  }
  .openProjectDetails {
    font-size: 12px;
  }
  .projectName{
    font-size: 90% !important;
  }
  .projectFullDesc{
    font-size: 90% !important;
  }
  .noMarPadMob {
    margin: 0 !important;
    padding: 0 !important;
  }
  .projectTech {
    font-size: 10px;
  }
  .imageCenterMob {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .socialIcon {
    max-height: 0 !important;
  }
}

#videoText {
  position: relative;
  color:white;
  top: -400px;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

#videoBg {
  height: 400px;
  margin-left: -40px;
  opacity: 0.5;
}

#videoContacts {
  position: relative;
  color:white;
  top:-300px
}

.foldButton {
  border-color: #38C577;
  background-color: transparent;
  margin-right: 20px;
  border-radius: 0px;
}
.foldButton:hover {
  background-color: #38C577;
}
