#menuText {
  font-size: 20px;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #404352;
}

#sidebar-wrapper {
  background-color: #212121;
  box-shadow: 1px 2px 5px #000;
}

ul.sidebar .sidebar-main a {
  background-color: transparent;
}

.row.header {
  background-color: #404352;
  height: auto;
  margin-bottom: 0;
}

.col-xs-12 {
  color:white;
}

#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator, .sidebar-footer, ul.sidebar .sidebar-list a:hover {
  background-color: transparent;
}

ul.sidebar .sidebar-list a:hover {
  color: #fff;
  border-left: 5px solid #38C577;
}

.greenText {
  color: #38C577;
}

#noBorderOnHover:hover {
  border-left: none;
}

.page-content {
  color: white;
  margin-left: 40px;
}

.menuLabel {
  font-size: 280%;
  margin-left: -30px;
  color:#38C577;
  margin-top: -30px;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

.menu-icon {
  font-size: 135%;
}

.fa-user-secret:before {
  position: relative;
  left:3px;
}

.fa-envelope-square {
  position: relative;
  left: 2px;
}

#introTxt {
  color:white;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end);
}

#hLine {
  animation: blink 1s infinite;
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

.greenText {
  color:#38C577;
}

.green {
  /*border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 2px 4px;*/
  line-height: 2;
  margin-left: 5px;
}

.titleText {
  margin-top: 40px;
  margin-bottom: 40px;
}

.descItemText {
  margin-bottom: 30px;
}

.skill-panel-body {
  color:black;
}

.panel-body {
  padding-bottom: 0;
}

.logoImage {
  max-height: 40px;
}

.techName {
  line-height: 40px;
  font-weight: bolder;
  color:white;
  border-color: #212121 !important;
  margin-bottom: 0;
}

.lImgVer {
  position: relative;
}

.panel-transparent {
  background-color: #333645;
}

.panel-default {
  /*border-color: #212121;*/
  border:none;
}

.panel-default>.panel-heading {
  border-color: #212121;
  background-color: #212121;
  color:white;
}

.panel-title {
  color:#38C577;
}

.noMarPad {
  margin: 0;
  padding: 0;
}

.alignedGulp {
  margin-left: 20px;
}

.projectImg {
  /*max-width: 80px;*/
}

.projectDesc {
  margin-top: 2px;
  color:white;
}

.projectTech {
  background-color:#212121;
  color:#38C577;
  margin-right: 1px;
  font-size: 1.05em;
  margin-top: 2px;
}

.openProjectDetails {
  background-color: #38C577;
  border:none;
  color:black;
  vertical-align: middle;
  line-height: 20px;
}

.openProjectDetails:hover {
  background-color:#38C577;
  -moz-box-shadow:    inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  box-shadow:         inset 0 0 3px #000000;
  color:#E6E6E6;
}

.tooltip {
    border: 1px solid black;
    width: 230px;
    margin-left: 58px;
    margin-top: -35px;
    background-color: darkcyan;
    border-radius: 4px;
    height: 20px;
    color: white;
}

.fa-arrow-circle-o-right{
  vertical-align: middle;
  line-height: 20px;
  margin-left: 5px;
  font-size: 130%;
}

.project-panel {
}

.projectSub {
  font-size: 8.0em;
}

.secondProjectFooter {
  background-color: transparent;
  border:none;
  vertical-align: bottom;
  max-height: 100px;
}

#thirdPanel {
  vertical-align: middle;
  height: auto;
}

#goToH1:hover {
  font-size: 3em;
}

#goToAllLink:hover {
  text-decoration: none;
  cursor: pointer;
}

.fa-angle-double-right {
  margin-left: 5px;
}

.fa-mobile, .fa-laptop, .fa-angle-double-right {
  color:#38C577;
}

.newProject {
  background-color: #38C577 !important;
  margin-left: 10px;
}

.fa-plus {
  margin-left: 5px;
}
