<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Norbert.xyz</title>

    <!--  VENDOR STYLE-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/rdash-legacy.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

    <!--  CUSTOM STYLE -->
    <link rel="stylesheet" href="css/style.css">

    <!-- VENDOR SCRIPTS -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>

    <!--  CUSTOM SCRIPTS-->
    <script src="/js/module.js"></script>
    <script src="/js/routes.js"></script>
    <!--  Controllers -->
    <script src="/js/controllers/home-ctrl.js"></script>
    <script src="/js/controllers/main-ctrl.js"></script>
    <!--  END OF CUSTOM SCRIPTS -->
</head>
<body ng-app="portfolioApp" ng-controller="mainCtrl">
    <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar">
                <li class="sidebar-main">
                    <a ng-click="toggleSidebar()">
                      Menu
                      <i class="menu-icon fa fa-bars" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="sidebar-list">
                    <a href="#" id="noBorderOnHover">Home<i class="menu-icon fa fa-home" aria-hidden="true"></i></a>
                </li>
                <li class="sidebar-title"><span class="greenText">NAVIGATION</span></li>
                <li class="sidebar-list">
                    <a href="" ng-click="gotoAnchor(1)">Skills<i class="menu-icon fa fa-terminal" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
        <!-- End Sidebar -->

        <div id="content-wrapper">
            <div class="page-content">

                <!-- Main Content -->
                <ui-view></ui-view>

            </div>
            <!-- End Page Content -->
        </div>
        <!-- End Content Wrapper -->
    </div>
    <!-- End Page Wrapper -->

</body>

</html>
